.container {
  max-width: var(--container-width-sm);
  margin: 0 auto;
	padding-bottom: 4em;
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);
}

.grid {
	--text: var(--text-footer);
  --text-reverse: #fff;
  display: grid;
  grid-gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  @nest [data-whatintent="keyboard"] & a:focus {
    outline-color: var(--text-reverse);
  }
}

.empty {
  text-align: center;
  padding: 4rem 2rem;
  font-family: var(--font-sans);
  color: var(--text);

  & p {
    font-size: 1.125rem;
    margin: 0;
  }
}
