.container {
  max-width: var(--container-width-lg);
  margin: 0 auto;
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);
}

.grid {
  --text-reverse: var(--reversed-text);
  --text: var(--splat-hover-color);
  --text-footer: var(--splat-hover-color);
  display: grid;
  grid-gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  @nest [data-whatintent="keyboard"] & a:focus {
    outline-color: #000;
  }
}

.empty {
  text-align: center;
  padding: 4rem 2rem;
  font-family: var(--font-sans);
  color: var(--text);

  & p {
    font-size: 1.125rem;
    margin: 0;
  }
}
