.container {
  padding-bottom: 3rem;
  position: relative;
  width: 100%;

  @media screen and (min-width: 700px) {
    min-width: 36rem;
  }

  @media screen and (min-width: 700px) and (orientation: landscape), (min-width: 1000px) {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    max-width: 90vw;
    padding-left: var(--container-side-padding);
    padding-right: var(--container-side-padding);
    width: 75rem;
  }

  @media screen and (min-width: 1000px) {
    grid-template-columns: 3fr 2fr;
  }

  &::after {
    background-image: linear-gradient(#0000, #000 85%);
    bottom: 0;
    content: " ";
    display: block;
    height: 5rem;

    /* left: 0; */
    pointer-events: none;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 5;

    @media screen and (min-width: 700px) and (orientation: landscape) {
      width: 50%;
    }

    @media screen and (min-width: 1000px) {
      width: 40%;
    }
  }
}

.headerMedia {
  align-self: start;
  background-color: var(--text-reverse);
  box-shadow: 0 25px 10px var(--text-reverse);
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);
  padding-top: 2rem;
  position: sticky;
  top: 0;

  @media screen and (min-width: 700px) and (orientation: landscape), (min-width: 1000px) {
    background-color: transparent;
    box-shadow: none;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.header {
  align-items: center;
  display: flex;
  font-size: 0.75rem;
  gap: 2em;
  margin-bottom: 1.5em;

  @media screen and (min-width: 1000px) {
    font-size: 1rem;
  }
}

.logo {
  aspect-ratio: 1 / 1;
  width: 4.75em;

  & img {
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
  }
}

.heading {
  font-family: var(--font-base);
  font-size: 2em;
  font-stretch: 75%;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.1;
  margin-bottom: 0;
  text-transform: uppercase;
}

.typeYear {
  display: block;
  font-size: 0.625em;
  font-weight: 400;
  margin-top: 0.25em;
}

.media {
  aspect-ratio: 16 / 9;
  background-color: var(--gray-2);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#bbbbbb' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-image'%3E%3Crect x='3' y='3' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Ccircle cx='8.5' cy='8.5' r='1.5'%3E%3C/circle%3E%3Cpolyline points='21 15 16 10 5 21'%3E%3C/polyline%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 15%;
  border: 2px solid var(--text);
  box-shadow: 8px 8px 0 var(--text-reverse);
  max-width: 40em;
  overflow: hidden;

  & img {
    display: block;
  }
}

.cta {
  padding-top: 2rem;
  text-align: center;
}

.deetsNotes {
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);
  padding-top: 1.5rem;

  @media screen and (min-width: 700px) and (orientation: landscape), (min-width: 1000px) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 7.25rem;
  }

  @media screen and (min-width: 1000px) {
    padding-top: 8.75rem;
  }
}

.deets {
  background-color: var(--text-reverse);
  border: 2px solid var(--text);
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
}

.deet {
  & th,
  & td {
    font-size: 0.875em;

    /* line-height: 1.2; */
    padding: 0.25rem;
    vertical-align: top;
  }

  & th {
    font-stretch: 75%;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.notes {
  padding-bottom: 2rem;

  & em {
    font-style: oblique;
  }
}
