.wrapper {
	height: 3em;
	margin: 0 auto;
	position: relative;
  width: 3em;

	@media screen and ( max-width: 767px ) {
		font-size: 0.75em;
	}

	&::before,
	&::after {
		animation: scrollDownLoop 1500ms infinite var(--ease-in-out-cubic);
		border: 0.25em solid var(--text);
		border-left-color: transparent;
		border-top-color: transparent;
		border-radius: 0.25em;
		content: '';
		display: block;
		height: 2em;
		left: 50%;
		position: absolute;
		top: 0;
		transform: translateX(-50%) rotate(45deg);
		transition: border-color var(--page-transition-duration) ease;
		width: 2em;
	}

	&::after {
		animation-delay: 750ms;
	}
}

@keyframes scrollDownLoop {
	0% {
		transform: translateX(-50%) translateY(-1em) rotate(45deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(1em) rotate(45deg);
		opacity: 0;
	}
}
