.container {
  appearance: none;
  background: var(--text-reverse);
  border: none;
  box-shadow: 4px 4px 0 var(--text);
  color: var(--text);
  cursor: pointer;
  display: grid;
  grid-gap: 1em;
  grid-template-areas: "heading logo" "content content";
  grid-template-columns: 1fr auto;
  padding: 1.25em 1em;
  position: relative;
  text-align: left;
  transition: box-shadow var(--hover-duration) ease;

  @nest [data-whatintent="mouse"] &:hover {
    box-shadow: 8px 8px 0 var(--text);

		& .screenshot {
			transform: scale(1.1) rotate(var(--rotation));
			transition-duration: 150ms;
		}
  }

  @nest [data-whatintent="keyboard"] &:focus {
		outline-offset: 6px;
		outline-width: 4px;
	}

  &::after {
    background-color: var(--text-reverse);
    color: var(--text);
    content: attr(data-category);
    display: block;
		font-family: var(--font-sans);
    font-size: 0.75em;
    font-stretch: 75%;
    left: 0;
    letter-spacing: 0.1em;
    line-height: 1.1;
    padding: 0.5em 1rem;
    position: absolute;
		text-transform: uppercase;
    top: 0;
    transform: translateY(-50%);
  }
}

.heading {
  align-self: center;
  font-family: var(--font-base);
  font-size: 1em;
  font-stretch: 80%;
  font-weight: 600;
  grid-area: heading;
  letter-spacing: 0.05em;
  line-height: 1.1;
  margin-bottom: 0;
  text-transform: uppercase;

  & span {
    display: block;
		font-family: var(--font-sans);
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 0.25em;
  }
}

.logo {
	aspect-ratio: 1 / 1;
	background-color: var(--text-footer);
	border-radius: 50%;
	grid-area: logo;
	overflow: hidden;

  & img {
    display: block;
    height: 3.125em;
		mix-blend-mode: multiply;
    width: 3.125em;
  }
}

.content {
  align-self: end;
  grid-area: content;
}

.screenshot {
	background-color: var(--text-footer);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#bbbbbb' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-image'%3E%3Crect x='3' y='3' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Ccircle cx='8.5' cy='8.5' r='1.5'%3E%3C/circle%3E%3Cpolyline points='21 15 16 10 5 21'%3E%3C/polyline%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 15%;
  border: 1px solid var(--text-footer);
  border-radius: 4px;
  overflow: hidden;
	transition: transform 300ms var(--ease-out-cubic);

  & img {
    display: block;
		mix-blend-mode: multiply;
  }
}

.cta {
  align-items: flex-end;
  display: flex;
  font-size: 0.875em;
  justify-content: space-between;
  margin-top: 1rem;
}

.ctaLive:not(:empty) {
  background-color: var(--color-ter);
  border-radius: 0.25em;
  color: var(--text-reverse);
  display: block;
	font-family: var(--font-sans);
  font-size: 0.75em;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1;
  padding: 0.25em 0.75em;
  text-transform: uppercase;
}

.ctaLabel {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  color: var(--text);
  line-height: 1;
  padding: 0;
  pointer-events: none;

  &::after {
    content: "\00BB";
    display: inline-block;
    margin-left: 0.5em;
  }
}
