.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
	color: var(--text-reverse);
  background: #fff;
  max-width: 400px;
  width: 90vw;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 8px 32px rgba(0,0,0,0.18);
  text-align: center;
}

.modal h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.modal p {
	font-size: 1.125em;
  margin-bottom: 2rem;
}

.actions {
  display: flex;
	font-size: 0.875em;
  gap: 1rem;
  justify-content: center;
}

.button,
.buttonPrimary {
	
	@nest [data-whatintent="mouse"] &:hover {
		background-color: var(--color-pri);
		border-color: var(--color-pri);
		color: var(--text);
	}
}
