.gradient {
	height: 100vh;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transition: opacity 1s ease;
	width: 100%;
	z-index: -1;
}

.active {
	opacity: 1;
}

.sunset {
	background-image: linear-gradient(to top, #FFCE61, #EE6C45, #BF3475);
}
.night {
	background-image: url('/images/stars-tiled2.png'), linear-gradient(#24243c, #2f5576);
	background-position: center top;
	background-size: 53.4rem;
}
.cloudy {
	background-image: linear-gradient(#bebebe, #ffffff);
}
.dramatic {
	background-image: linear-gradient(
    to bottom,
    #1f214d 0%,     /* Deep Space Cadet (Night Sky bottom) */
    #50366f 40%,    /* Imperial Purple */
    #bf3475 70%,    /* Fuchsia Purple (Horizon line) */
    #ee6c45 90%,    /* Chinese Orange */
    #ffce61 100%    /* Crayola's Orange-Yellow (Sun glow top) */
  );
}
.dawn {
	background-image: url('/images/stars-tiled-few.png'), linear-gradient(#102b43, #5e7c9b 60%, #f5be34);
	background-position: center top;
	background-repeat: repeat-x;
	background-size: 53.4rem;
}