.gradient {
	height: 100vh;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transition: opacity 1s ease;
	width: 100%;
	z-index: -1;
}

.active {
	opacity: 1;
}

.sunset {
	background-image: linear-gradient(to top, #FFCE61, #EE6C45, #BF3475);

	@media screen and ( orientation: portrait ) {
		background-image: linear-gradient(to top, #FFCE61, #EE6C45 70%, #BF3475);
	}

	@media screen and ( max-width: 767px ) {
		background-image: linear-gradient(to top, #ffce61 30%, #ee6c45);
	}

	@media (prefers-contrast: more) {
		background-image: none;
		background-color: var(--text-footer);
	}
}
.night {
	background-image: url('/images/stars-tiled2.png'), linear-gradient(#24243c, #2f5576);
	background-position: center top;
	background-size: 53.4rem;

	@media (prefers-contrast: more) {
		background-image: url('/images/stars-tiled2.png');
		background-color: #24243c;
	}
}
.cloudy {
	background-image: linear-gradient(#bebebe, #ffffff);
}
.dramatic {
	background-image: linear-gradient(
    to bottom,
    #1f214d 0%,     /* Deep Space Cadet (Night Sky bottom) */
    #50366f 40%,    /* Imperial Purple */
    #bf3475 70%,    /* Fuchsia Purple (Horizon line) */
    #ee6c45 90%,    /* Chinese Orange */
    #ffce61 100%    /* Crayola's Orange-Yellow (Sun glow top) */
  );

	@media (prefers-contrast: more) {
		background-image: none;
		background-color: #50366f;
	}
}
.dawn {
	background-image: url('/images/stars-tiled-few.png'), linear-gradient(#102b43, #5e7c9b 60%, #f5be34);
	background-position: center top;
	background-repeat: repeat-x;
	background-size: 53.4rem;

	@media (prefers-contrast: more) {
		background-image: url('/images/stars-tiled-few.png');
		background-color: #43596F;
	}
}
.morning {
	background-image: linear-gradient(
    to bottom,
    #C6E4EE 0%,    /* Light blue at the top */
    #C6E4EE 40%,   /* Continues light blue */
    #FED1AE 60%,   /* Warm peach/orange appears as the "sun" starts to show */
    #FAA0B9 70%,   /* A hint of pinkish hue */
    #CB7DCB 80%,   /* Transitioning to a light purple */
    #757ECB 100%   /* Deeper blue at the very bottom/horizon (if element height is set) */
  );
}