.gradient {
	height: 100vh;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transition: opacity 1s ease;
	width: 100%;
	z-index: -1;
}

.active {
	opacity: 1;
}

.sunset {
	background-image: linear-gradient(#f83600, #facc22);
}
.night {
	background-image: linear-gradient(#24243c, #2f5576);
}
.cloudy {
	background-image: linear-gradient(#bebebe, #ffffff);
}
.dramatic {
	background-image: linear-gradient(#35126a, #f91362, #ff8e44);
}
.dawn {
	background-image: linear-gradient(#102b43, #5e7c9b 60%, #f5be34);
}