.button {
  align-items: center;
  appearance: none;
	border: 2px solid;
  border-radius: 0;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-heading);
  font-size: 1em;
  font-stretch: 75%;
  font-weight: 600;
  height: 3em;
  justify-content: center;
	letter-spacing: 0.1em;
  line-height: 1;
  outline: 2px dotted transparent;
  outline-offset: 2px;
  padding: 0 1.5em;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  transition: all var(--hover-duration) ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 0;

  @nest [data-whatintent="keyboard"] & {
    &:focus, &:focus-visible, &:active {
      outline-color: inherit;
    }
  }

  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.35 !important;
    pointer-events: none;
  }
}

.compact {
  height: 2.5em;
}

.default {
  background-color: var(--text);
  border-color: var(--text);
  color: var(--text-reverse);

  @nest [data-whatintent="mouse"] &:hover {
    background-color: var(--text-reverse);
		border-color: var(--text-reverse);
		color: var(--text);
  }
}

.reverse {
  background-color: var(--text-reverse);
  border-color: var(--text-reverse);
  color: var(--text);

  @nest [data-whatintent="mouse"] &:hover {
    background-color: var(--text);
		border-color: var(--text);
		color: var(--text-reverse);
  }
}

.outline {
  background-color: transparent;
  border-color: var(--text);
  color: var(--text);

  @nest [data-whatintent="mouse"] &:hover, &[data-is-active="true"] {
    background-color: var(--text);
		border-color: var(--text);
		color: var(--text-reverse);
  }
}

.outlineReverse {
  background-color: transparent;
  border-color: var(--text-reverse);
  color: var(--text-reverse);

  @nest [data-whatintent="mouse"] &:hover, &[data-is-active="true"] {
    background-color: var(--text);
		border-color: var(--text);
		color: var(--text-reverse);
  }
}

.secondary {
  color: var(--text-reverse);
}
