.button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--text);
  border-radius: 0;
  color: var(--text);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-heading);
  font-size: 1.5em;
  font-stretch: 75%;
  font-weight: 600;
  height: 3em;
  justify-content: center;
  line-height: 1;
  outline: 2px dotted transparent;
  outline-offset: 2px;
  padding: 0 1.5em;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  transition: all var(--hover-duration) ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 0;

  @nest [data-whatintent="mouse"] &:hover, &[data-is-active="true"] {
    background-color: var(--text);
		color: var(--text-reverse);

    /* &::before, &::after {
      opacity: 0.7;
      transform: translate(0, -50%);
    } */
  }

  /* &::before,
  &::after {
    color: var(--text-reverse);
    display: block;
    line-height: 1;
    opacity: 0;
    position: absolute;
    top: 47%;
    transition: all var(--hover-duration) ease;
  }

  &::before {
    content: "\00bb";
    left: 0.75em;
    transform: translate(-1em, -50%);
  }

  &::after {
    content: "\00ab";
    right: 0.75em;
    transform: translate(1em, -50%);
  } */

  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.35 !important;
    pointer-events: none;
  }
}

.compact {
  height: 1.75em;
}

.default {
  color: var(--text);
}

.reverse {
  color: var(--text-reverse);

  @nest [data-whatintent="keyboard"] & {
    &:focus, &:focus-visible, &:active {
      outline-color: inherit;
    }
  }

  @nest [data-whatintent="mouse"] &:hover {
    &::before {
      /* background-color: var(--color-sec); */
      border-color: var(--color-sec);
    }
  }
}

.primary {
  /* color: var(--text-reverse); */

  @nest [data-whatintent="mouse"] &:hover {
    &::before {
      /* background-color: var(--color-sec); */
      border-color: var(--color-sec);
    }
  }
}

.secondary {
  color: var(--text-reverse);
}
