.container {
  max-width: var(--container-width-md);
  margin: 0 auto;
  padding-left: var(--container-side-padding);
	padding-right: var(--container-side-padding);
}

.emptyState {
  padding: 3em !important;
  text-align: center !important;
  font-size: 1.5rem !important;
}

.link {
	color: inherit;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}
