.wrapper {
	justify-content: center;
	display: flex;
	flex-direction: column;
	height: calc(100vh - (var(--header-height) + var(--footer-height)));
	padding-bottom: 12vh;

	@media screen and ( min-width: 768px ) {
		padding-bottom: 18vh;
	}
}

.inner {
	font-size: clamp(1em, 3vw, 1.5em);
	margin: 0 auto 5vh;
	max-width: 60ch;
	padding: 0 var(--container-side-padding);

	@media screen and ( min-width: 768px ) {
		margin-bottom: 10vh;
	}
	
	h2,
	p,
	li {
		transition: color 1000ms ease;
	}
	
	h2 {
		/* font-family: var(--font-base); */
		font-size: 2em;
		line-height: 1;
		margin-bottom: 0;

		&:first-letter {
			font-size: 1.25em;
		}
	}

	li:first-child {
		opacity: 0.5;
	}

	li:last-child {
		font-weight: 700;
	}
}