.container {
	display: flex;
	justify-content: flex-end;
	left: 50%;
	max-width: var(--container-width-md);
	padding-left: var(--container-side-padding);
	padding-right: var(--container-side-padding);
	padding-top: 2em;
	pointer-events: none;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
	z-index: 4;
}

.button {
	pointer-events: auto;

	&:hover {
		opacity: 1;
	}

	&[aria-expanded="true"] {
		--text: #FFF;

		&:hover {
			opacity: 1;
		}
	}
}
.box {
	margin-top: 10px;
}

.inner { 
	&,
	&::before, 
	&::after {
		background-color: var(--text);
		border-radius: 0;
		height: 4px;
		transition-duration: 150ms !important;
		transition-property: all !important;
		transition-timing-function: var(--ease-in-out-circ) !important;
	}

	&::before {
		transition-property: background-color opacity !important;
		transition-delay: 0ms 300ms;
		transition-duration: 0ms 300ms !important;
	}

	&[data-is-active="true"] {

		&::before {
			transform: rotate(0deg) translate3d(0, 0, 0) !important;
			transition-delay: 0ms !important;
			transition-duration: 0ms !important;
		}
	}

	&[data-is-active="false"] {
		width: calc(100% + 0.5em);
		transform: translateX(-0.5em);

		&::before {
			left: 0.5em;
		}

		&::after {
			left: 1em;
			width: calc(100% - 1em);
		}
	}
}
