.richText {
  @media screen and (min-width: 760px) {
    font-size: 1.125em;
  }

  & > *:not(div):not(a):not(br),
	> div *:not(div):not(a):not(br) {
    margin-bottom: 0;
  }

  & > * + *:not(div):not(a):not(br),
	> div * + *:not(div):not(a):not(br) {
    margin-top: 1.25em;
  }

	& h1,
	& .h1 {
		margin-bottom: 0.55em !important;
	}

  & a:not(:has(span)) {
    outline: 2px solid transparent;

    @nest [data-whatintent="mouse"] &:hover {
      background-color: var(--text);
      color: var(--text-reverse);
      /* outline-color: var(--color-pri); */
    }
  }

  & em {
    font-style: oblique;
  }

  & ul {
    padding-left: 1.5em;

    & li {
      margin-bottom: 0.5em;
    }
  }
}
