.cta {
	background-color: rgba(var(--color-ter-rgb), 0.8);
	bottom: 0;
	padding-bottom: 2em;
	padding-top: 2em;
	position: sticky;
	text-align: center;
	transition: opacity 1000ms ease;
	z-index: 2;
	
	@media screen and ( min-width: 768px ) {
		font-size: 0.75em;
		padding-bottom: 4em;
		padding-top: 4em;
	}

	&[data-show="false"] {
		opacity: 0;
		pointer-events: none;
	}

	a {
		background-color: #fff;
		border-radius: 0.2em;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		color: var(--color-sec);
		font-size: clamp(1em, 2.5vw, 1.5em);
		padding: 1em 2em;
		text-decoration: none;
		transition: all 200ms ease;

		@nest [data-whatintent="mouse"] &:hover {
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
			color: var(--color-oct);
		}
	}
}