.wrapper {
  display: inline-flex;
  gap: 0.25em;
}

.star {
  color: inherit;
  display: inline-grid;
  height: 1em;
  place-items: center;
  width: 1em;

  & > svg {
    fill: currentcolor;
    height: 100%;
    width: 100%;
  }
}
