.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 2rem 20vh;
	position: absolute;
	width: 100%;
}

.content {
	align-items: center;
  animation: fadeIn 0.6s ease-in;
	display: flex;
	gap: 2em;
  max-width: 600px;
}

.text {
	flex: 0 0 auto;

	& p {
		font-size: clamp(1.4em, 6vw, 2.5em);
		max-width: 12ch;
	}
}

.homeLink {
	font-size: clamp(0.75em, 6vw, 1em) !important;

  @nest [data-whatintent="mouse"] &:hover {
    background-color: var(--color-pri) !important;
		border-color: var(--color-pri) !important;
    color: var(--text-reverse) !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
