.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 2rem 20vh;
	position: absolute;
  text-align: center;
	width: 100%;
}

.content {
  animation: fadeIn 0.6s ease-in;
  max-width: 600px;
}

.title {
  font-family: var(--font-heading);
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 1;
  margin-bottom: 1rem;
}

.errorCode {
  color: var(--text);
  display: inline-block;
}

.message {
  color: var(--text);
  font-family: var(--font-base);
  font-size: clamp(1.125rem, 2vw, 1.5rem);
  margin-bottom: 2rem;
  opacity: 0.9;
}

.homeLink {

  @nest [data-whatintent="mouse"] &:hover {
    background-color: var(--color-pri) !important;
		border-color: var(--color-pri) !important;
    color: var(--text-reverse) !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
