.skeleton {
  animation: swipe-it 2000ms ease infinite;
  background: linear-gradient(
    112deg,
    #FFF1 25%,
    #FFF4,
    #FFF1 75%
  );
  background-size: 600% 600%;
}

@keyframes swipe-it {
  0% {
    background-position: 0% 2%;
  }

  50% {
    background-position: 100% 99%;
  }

  100% {
    background-position: 0% 2%;
  }
}
