.container {
  margin: 0 auto;
  max-width: var(--container-width-md);
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);
}

.buckets {
	display: grid;
	grid-gap: 3em 2em;
	grid-template-columns: 1fr;

	@media screen and ( min-width: 880px ) {
		grid-template-columns: 1fr 1fr;
	}
}

.bucket {
	max-width: 28em;
}

.image {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin-bottom: 1.5em;
	overflow: hidden;
	text-decoration: none;

	img {
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;
		height: auto;
		transition: transform 200ms ease;
		width: 100%;
	}

	[data-whatintent="mouse"] &:hover img {
		transform: scale(1.05);
	}
}

.caption {
	align-self: end;
	background-image: linear-gradient(to top, rgba(var(--color-sec-rgb), 0.9) 30%, rgba(var(--color-sec-rgb), 0));
	color: #FFF;
	display: block;
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	padding-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 10em;
	position: relative;

	h2 {
		color: inherit;
		margin-bottom: .75em;
		font-size: clamp(2em, 8vw, 2.5em);
		line-height: 1.2;
		text-shadow: 1px 1px 2px #000;
	}

	h3 {
		color: inherit;
		font-size: clamp(1em, 4vw, 1.25em);
		font-style: oblique;
		font-weight: 400;
		line-height: 1.2em;
		margin-bottom: 0;
		max-width: 16em;
		text-wrap: balance;
	}
}

.link {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 0.2em;
	display: inline-block;
	color: var(--color-sec);
	font-size: 0.875em;
	font-weight: 500;
	padding: 0.75em 1.25em;
	text-decoration: none;
	transition: all 200ms ease;

	span {
		font-size: 1.5em;
		line-height: 1;
		vertical-align: bottom;
	}

	@nest [data-whatintent="mouse"] &:hover {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
		color: var(--color-oct);
	}
}