.container {
	margin: 0 auto;

  @media screen and (max-width: 739px) {
    max-width: 25rem;
  }
}

.toggle {
  justify-content: space-between !important;
  /* margin-bottom: 2px; */
  width: 100%;

  &::after {
    content: "\00a0\00a0+";
    font-family: var(--font-base);
    font-size: 1.5em;
  }

  @media screen and (min-width: 740px) {
    display: none !important;
  }

  &[data-active="true"] {
    &::after {
      content: "\00a0\00a0\2014";
    }
  }

  & svg {
    display: none;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 739px) {
		border: 2px solid var(--text);
		border-top: none;
    display: none;

    &[data-open="true"] {
      display: block;
    }
  }

  @media screen and (min-width: 740px) {
    display: flex;
    gap: 1rem;
  }

  @media screen and (min-width: 1000px) {
    gap: 2rem;
  }

	& li {
		flex: 1 1 1em;
	}

  & a {
    display: block;

		&:has(span[disabled]) {
			pointer-events: none;
		}
  }
}

.button {
  width: 100%;

  @media screen and (max-width: 739px) {
		border: none;

    & svg {
      display: none;
    }
  }
}
