.divider {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--container-width-md);
	padding-left: var(--container-side-padding);
	padding-right: var(--container-side-padding);
	
	& hr {
		border: none;
		border-top: 1px solid var(--border-color);
		margin: 0;
	}
}
.hideMobile {
  
	@media (max-width: 600px) {
		display: none;
	}
}
.narrow {
	max-width: var(--container-width-sm);
}