.overlay {
  background-color: var(--color-ter);
  inset: 0;
  position: fixed;
  z-index: 1000;
}

.content {
  background-color: var(--text-reverse);
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 999999;

  @media screen and (max-width: 699px) {
    margin-left: 1em;
    margin-right: 1em;
    transform: translateY(-50%) !important;
  }

  @media screen and (min-width: 700px) {
    display: block;
    flex-direction: unset;
    justify-content: unset;
    left: 50%;
    max-height: 85vh;
    right: auto;
    width: 90vw;
  }

  /* &::after {
    background-image: url("/images/drips-lite.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    content: " ";
    font-size: 0.8em;
    height: 3.5em;
    position: absolute;
    right: 10%;
    top: calc(100% - 2px);
    width: 8.625em;

    @media screen and (min-width: 740px) {
      font-size: 1em;
    }
  } */

  &:focus {
    outline: none;
  }

  &[data-fullscreen-mobile="true"] {
    @media screen and (max-width: 699px) {
      bottom: 0;
      justify-content: flex-start;
      left: 0;
      margin-left: 0;
      margin-right: 0;
      right: 0;
      top: 0;
      transform: none !important;
    }
  }
}

.content + .overlay {
  z-index: 999999;
}

@media screen and (min-width: 700px) {
  .flex {
    max-width: 90vw;
    width: auto;
  }

  .small {
    max-width: 28em;
  }

  .medium {
    max-width: 50em;
  }

  .large {
    max-width: 72em;
  }
}

.inner {
  /* height: 100vh; */
  overflow-y: auto;
  scroll-behavior: smooth;

  @media screen and (min-width: 700px) {
    height: auto;
    max-height: 85vh;
  }
}

.close {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
	font-size: 2em;
  height: 2.75em;
  padding: 1em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 2.75em;

  @media screen and (min-width: 700px) {
    right: 0;
    top: 0;

    @nest [data-outside-close="true"] & {
      bottom: 100%;
      top: auto;
    }
  }

  &::before {
    background-color: var(--background-contrast);
    border-radius: 50%;
    content: " ";
    display: block;
    height: 2.25em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color var(--hover-duration) ease;
    width: 2.25em;
  }

  & svg {
    display: block;
    height: 0.8em;
    left: 50%;
    position: absolute;
    stroke: var(--text);
    stroke-width: 8px;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: stroke var(--hover-duration) ease;
    width: 0.8em;
    z-index: 1;
  }

  @nest [data-whatintent="mouse"] &:hover {
    &::before {
      background-color: var(--text);
    }

    & svg {
      stroke: var(--text-reverse);
    }
  }
}
