.wrapper {
  align-items: flex-start;
  display: flex;
	flex-direction: column;
  gap: 1.5em;
  margin: 0 auto;
  max-width: var(--container-width-sm);
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);

	@media screen and ( min-width: 680px ) {
		flex-direction: row;
		gap: 2.5em;
	}
}

.reverse {
  flex-direction: row-reverse;
}

.text {
  flex: 1 1 auto;

	@media screen and ( min-width: 680px ) {
		font-size: 1.125em;
	}

	@media screen and ( min-width: 760px ) {
		font-size: 1.25em;
	}

	& p:last-child {
		margin-bottom: 0;
	}

	& a {
		color: inherit;

    @nest [data-whatintent="mouse"] &:hover {
      background-color: var(--text);
      color: var(--text-reverse);
			text-decoration: none;
    }
  }
}

.image {
	background-color: #fff;
	border-bottom: 0.25em solid #fff;
  flex: 1 0 max-content;
	margin: 0 auto;
	padding-top: 0.5em;
}
