.container {
	max-width: var(--container-width-md);
	margin: 0 auto;
	padding-left: var(--container-side-padding);
	padding-right: var(--container-side-padding);
	padding-top: 4rem;

	@media screen and ( min-width: 768px ) {
		padding-top: 6rem;
	}
}

.heading {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 2em;
  text-align: center;
}

.list {
	--text-reverse: #000;
	--text: var(--reversed-text);
	--text-footer: var(--text);
  display: grid;
  grid-gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  margin-bottom: 3rem;

	@media screen and ( max-width: 767px ) {
		--text: #F9B359;
	}

  @nest [data-whatintent="keyboard"] & button:focus {
		outline-color: #000;
  }

	@media (prefers-contrast: more) {
		--text: #FECD61;
	}
}

.cta {
	font-size: 0.875em;
  text-align: center;

  @media screen and (max-width: 500px) {
    & a {
      display: flex;
			place-content: center;

      & span {
        max-width: 23rem;
        width: 100%;
      }
    }
  }
}
