.form {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	max-width: 30em;
	/* margin: 0 auto; */
}

.formGroup {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.label {
	align-items: center;
	/* color: var(--gray-8); */
	display: flex;
	/* font-family: var(--font-heading); */
	font-size: 0.875em;
	font-weight: 600;
	gap: 0.25em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.required {
	color: var(--red-5);
	aria-label: 'required';
}

.input {
	padding: 0.5em 0.75em;
	border: 2px solid var(--gray-2);
	border-radius: 0.25em;
	font-family: inherit;
	font-size: 1em;
	color: var(--gray-8);
	background-color: #fff;
	transition: border-color var(--hover-duration, 0.2s) ease;

	&:focus {
		outline: 2px solid var(--color-pri);
		outline-offset: 2px;
		border-color: var(--color-pri);
	}

	&:hover:not(:focus) {
		border-color: var(--gray-3);
	}

	&::placeholder {
		color: var(--gray-4);
	}
}

.textarea {
	resize: vertical;
	min-height: 120px;
	font-family: inherit;
}

.error {
	color: var(--red-5);
	font-size: 0.875em;
	margin-top: 0.25em;
	display: block;
}

.submitButton {
	align-self: flex-start;
	background-color: var(--color-pri);
	border: none;
	border-radius: 0.25em;
	color: white;
	cursor: pointer;
	/* font-family: var(--font-heading); */
	font-size: 1.25em;
	/* font-weight: 700; */
	/* letter-spacing: 0.1em; */
	outline-offset: 2px;
	outline: 2px dotted transparent;
	padding: 0.25em 2em;
	transition: background-color var(--hover-duration, 0.2s) ease;
	/* text-transform: uppercase; */

	@nest [data-whatintent="mouse"] &:hover:not(:disabled) {
		background-color: var(--color-sec);
	}

	&:focus {
		outline: 2px dotted var(--color-pri);
	}

	&:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}
}

.statusMessage {
	padding: 1em;
	border-radius: 0.25em;
	font-weight: 500;
	border-left: 4px solid;
}

.status-loading {
	background-color: #f0f8ff;
	border-color: var(--blue);
	color: var(--blue);
}

.status-success {
	background-color: #f0fdf4;
	border-color: var(--color-pri);
	color: var(--color-pri);
}

.status-error {
	background-color: #fef2f2;
	border-color: var(--red-5);
	color: var(--red-5);
}

/* Honeypot field - hidden from legitimate users */
.honeypot {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	opacity: 0;
	pointer-events: none;
	overflow: hidden;
}
