.wrapper {
	padding-bottom: 2em;
	padding-top: 2em;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: var(--container-width-sm);
	margin: 0 auto;
	padding-left: var(--container-side-padding);
	padding-right: var(--container-side-padding);
	
	&::before {
		content: ' ';
		display: block;
		flex: 0 1 33.3%;
	}
}

.branding {
	display: block;
	flex: 0 1 33.3%;
	max-width: 10em;

	a {
		color: inherit;
	}
	
	svg {
		display: block;
		fill: currentColor;
	}
}

.hamburgerWrapper {
	flex: 0 1 33.3%;
	display: flex;
	justify-content: flex-end;
}
