.wrapper {
	padding-bottom: 2em;
	padding-top: 2em;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: var(--container-width-sm);
	margin: 0 auto;
	padding-left: var(--container-side-padding);
	padding-right: var(--container-side-padding);
	
	&::before {
		content: ' ';
		display: block;
		flex: 0 1 33.3%;
	}
}

.branding {
	display: block;
	flex: 0 1 33.3%;
	font-size: 0.875em;
	transition: font-size 500ms var(--ease-in-out-cubic);

	@nest body:not([data-current-page="home"]) & {
		font-size: 0.625em;
	}

	a {
		color: inherit;
	}
	
	svg {
		display: block;
		fill: var(--text);
		margin: 0 auto;
		max-width: none;
		transition: fill 1000ms ease;
		width: 10em;

		@media screen and ( max-width: 559px ) {
			max-width: 55vw;
		}
	}
}

.hamburgerWrapper {
	flex: 0 1 33.3%;
	display: flex;
	justify-content: flex-end;
}
