.container {
  margin: 0 auto;
  max-width: var(--container-width-md);
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);

	h2[data-type="pageTitle"] {
		font-size: clamp(1.375em, 4vw, 2em);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	li,
	blockquote,
	figcaption,
	span,
	a,
	button,
	label {
		transition: color var(--page-transition-duration) ease;
	}

	a {
		background-color: var(--text);
		color: var(--text-reverse);
		padding-left: 0.3em;
		padding-right: 0.3em;

		&:has(span) {
			display: inline-block;
			text-decoration: none;
		}

		@nest [data-whatintent="mouse"] &:hover {
			text-decoration: none;
		}
	}

	a:focus {
		outline: none;

		@nest [data-whatintent="keyboard"] & {
			outline-offset: 1px;
  		outline: 3px dotted var(--text);
		}
	}

	> *:last-child {
		margin-bottom: 0 !important;
	}
}

.narrow {
	max-width: var(--container-width-sm);
}