.container {
  margin: 0 auto;
  max-width: var(--container-width-md);
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);

	h2[data-type="pageTitle"] {
		font-size: clamp(1.375em, 4vw, 2em);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	li,
	blockquote,
	figcaption,
	span,
	a,
	button,
	label {
		transition: color 1000ms ease;
	}
}

.narrow {
	max-width: var(--container-width-sm);
}