.wrapper {
	background-color: var(--text);
	padding-bottom: 4em;
	padding-top: 3em;
}

.inner {
	align-items: center;
	color: var(--text-reverse);
	display: flex;
	flex-direction: column;
	gap: 4em;
	padding-left: var(--container-side-padding);
	padding-right: var(--container-side-padding);
	max-width: var(--container-width-md);
	margin: 0 auto;

	@media (min-width: 768px) {
		flex-direction: row;
		gap: 2em;
	}
}

.text {
	flex: 1 1 65%;

	h2 {
		font-size: 3em;
		line-height: 1;
		margin-bottom: 0.5em;

		@media screen and ( min-width: 768px ) {
			font-size: 3.5em;
		}

		&:first-letter {
			font-size: 1.3em;
		}
	}
}

.image {
	background-color: var(--text-reverse);
	flex: 1 1 35%;

	img {
		mix-blend-mode: multiply;
	}
}

.buttons {
	display: flex;
	font-size: 0.75em;
	gap: 1em;
	margin-top: 3em;
}

.button,
.buttonPrimary {

	@nest [data-whatintent="keyboard"] &:focus {
		outline: 2px dotted #f07d4a !important;
		outline-offset: 4px !important;
	}
}

.button {
	background-color: #000 !important;
	border-color: #f07d4a !important;
	color: #f07d4a !important;

	@nest [data-whatintent="mouse"] &:hover {
		background-color: #f07d4a !important;
		border-color: #f07d4a !important;
		color: #000 !important;
	}
}

.buttonPrimary {
	background-color: #f07d4a !important;
	border-color: #f07d4a !important;
	color: #000 !important;

	@nest [data-whatintent="mouse"] &:hover {
		background-color: #000 !important;
		border-color: #f07d4a !important;
		color: #f07d4a !important;
	}
}
