.wrapper {
  background-color: var(--footer-background);
  color: var(--text-reverse);
  padding-bottom: 4rem;
  padding-top: 4rem;
  position: relative;
}

.container {
  align-items: center;
  display: grid;
  grid-gap: 3rem 0;
  margin: 0 auto;
  max-width: var(--container-width-md);
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);
	
  @media screen and (min-width: 768px) {
		grid-gap: 2rem;
		grid-template-columns: 1fr 1fr;
  }
}

.text {
	font-size: 0.875em;
	font-weight: 500;
	justify-self: center;
	text-align: center;

	@media screen and ( min-width: 768px ) {
		justify-self: start;
		text-align: left;
	}

	& h2 {
		font-stretch: var(--font-wide);
		font-weight: 400;
		line-height: 1.2;
		margin-bottom: 0.75em;
		max-width: 12em;
	}

	& p {
		margin-bottom: 0;

		&:not(:last-child) {
			margin-bottom: 1em;
		}
	}

	& em {
		display: inline-block;
		font-family: var(--font-heading);
		font-size: 1.5em;
		font-style: oblique;
		font-weight: 400;
		
		@media screen and ( min-width: 768px ) {
			text-indent: -0.5em;
		}
	}

	& a {
		color: currentColor;
	}
}

.logo {
	justify-self: end;

	@media screen and ( max-width: 767px ) {
		justify-self: center;
		order: -1;
	}

	& svg {
		aspect-ratio: 1.0685 / 1;
		display: block;
		fill: #FFF;
		max-width: 10em;
		opacity: 0.75;
		width: 100%;
	}
}

/* .button {
	background-color: var(--color-qui);
	border-radius: 0.25em;
	box-shadow: 1px 1px 6px #0003;
	color: var(--color-sep);
	display: inline-block;
	font-weight: 600;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: background-color 200ms ease, color 200ms ease;

	@nest [data-whatintent="mouse"] &:hover {
		background-color: var(--color-sep);
		color: var(--color-qua);
	}
} */

.contacts {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.25em;
	margin-top: 1.5em;
	gap: 1em 2em;

	& p {
		margin-bottom: 0;
	}
}

.copyright {
	font-size: 0.875em;
	margin-top: 4em;
}

.rating {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: center;

	@media screen and ( min-width: 768px ) {
		justify-content: start;
	}
}

.stars {
	color: var(--color-sen);
	font-size: 1.2em;
	letter-spacing: 0.1em;
	line-height: 1;
	padding-bottom: 0.2em;
}

.badges {
	display: flex;
	gap: 0.5em;
	justify-content: space-around;
	margin-top: 3em;
}

.badge {
	display: block;
	max-width: 4rem;
	transition: opacity 200ms ease;
	width: 100%;

	@nest [data-whatintent="mouse"] & {
		opacity: 0.75;
	}

	@nest [data-whatintent="mouse"] &:hover {
		opacity: 1;
	}
}
