.wrapper {
	bottom: -50em;
	overflow: hidden;
	pointer-events: none;
	position: sticky;
	width: 100vw;
	z-index: 2;
}

@keyframes seaplanefly {
	0% {
		transform: translateX(100vw);
	}
	50% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.seaplane {
	animation: seaplanefly 20s linear infinite;
	font-size: 0.5em;
	pointer-events: none;
	position: absolute;
	top: 2em;
	z-index: -1;

	@media screen and ( min-width: 768px ) {
		font-size: 0.6em;
	}

	& span {
		color: var(--text-footer);
		font-family: var(--font-heading);
		font-size: 1.25em;
		right: 0.75em;
		position: absolute;
		top: 50%;
		transform: translateY(-63%);
		transition: color 500ms ease;
	}

	@nest [data-current-page*='other'] & {
		display: none;
	}
}

.seaplaneSvg {
	height: 4.0625em;
	width: 25em;

	@nest [data-current-page*="blog"] & {
		filter: drop-shadow(0px 5px 5px #59697866);
	}

	& :global(.seaplane_svg__plane) {
		fill: var(--bg-footer);
	}

	& :global(.seaplane_svg__windows) {
		fill: var(--text-footer);
	}
}
	
.trees {
	/* background-image: url("/images/trees-footer.svg");
	background-repeat: repeat no-repeat;
	background-position: center top;
	background-size: cover; */
	height: 15vmax;
	pointer-events: none;
	position: relative;
	transform: translateY(1px);
	z-index: -1;

	& svg {
		display: block;
		fill: var(--bg-footer);
		height: auto;
		left: 50%;
		min-height: 100%;
		position: absolute;
		top: 0;
		transform: translateX(-50%);
		transition: fill var(--page-transition-duration) ease;
		width: 100%;

		@nest [data-current-page*="blog"] & {
			filter: drop-shadow(0px -5px 5px #59697866);
		}
	}
}

.bottom {
	background-color: var(--bg-footer);
	color: var(--text-footer);
	padding-bottom: 1em;
	pointer-events: auto;
	position: relative;
	transition: background-color var(--page-transition-duration) ease;
}

.container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: var(--container-width-sm);
	padding-left: var(--container-side-padding);
	padding-right: var(--container-side-padding);

	svg {
		display: block;
		fill: var(--text-footer);
		height: auto;
		overflow: visible;
		transition: fill var(--page-transition-duration) ease;
		width: 8em;
	}
}

.made,
.signature {
	font-size: 0.875em;
	line-height: 1;
	margin: 0;
}

.made {
	transition: color var(--page-transition-duration) ease;
}

.heart {
	appearance: none;
}

.signature {

	@media screen and ( max-width: 767px ) {
		font-size: 0.625em;
	}
}

.sasquatch {
  align-items: center;
	background-color: var(--bg-footer);
  display: flex;
	height: 50em;
  justify-content: center;
	padding-top: 41em;
	transform: translateY(-1px);
	transition: background-color var(--page-transition-duration) ease;
}

.slice {
	background-color: var(--text-footer);
	flex: 0 1 auto;

	& img {
		mix-blend-mode: multiply;

		@nest body[data-current-page*="blog"] & {
			filter: invert();
			mix-blend-mode: screen;
		}
	}
}
