.wrapper {
	bottom: 0;
	pointer-events: none;
	position: sticky;
	width: 100vw;
	z-index: 2;
}
	
.trees {
	background-image: url("/images/trees-footer.svg");
	background-repeat: repeat no-repeat;
	background-position: center top;
	background-size: cover;
	height: 15vmax;
	pointer-events: none;
	transform: translateY(1px);
}

.bottom {
	background-color: #000;
	color: var(--text-footer);
	padding-bottom: 1em;
	pointer-events: auto;
	position: relative;
}

.container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: var(--container-width-sm);
	padding-left: var(--container-side-padding);
	padding-right: var(--container-side-padding);

	svg {
		display: block;
		fill: var(--text-footer);
		height: auto;
		overflow: visible;
		transition: fill var(--page-transition-duration) ease;
		width: 8em;
	}
}

.made,
.signature {
	font-size: 0.875em;
	line-height: 1;
	margin: 0;
}

.made {
	transition: color var(--page-transition-duration) ease;
}

.heart {
	appearance: none;
}

.signature {

	@media screen and ( max-width: 767px ) {
		font-size: 0.625em;
	}
}
