.article {
  max-width: var(--container-width-sm);
  margin: 0 auto 4em;
  padding: 1em var(--container-side-padding) 0;
  min-height: 100vh;
}

.header {
  margin-bottom: 2em;
	position: relative;
  text-align: center;
	
	@media screen and ( min-width: 680px ) {
		padding: 0 4em;
	}
}

.title {
	margin-bottom: 0.25em;
}

.meta {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  align-items: center;
  font-size: 0.875em;

	& > span {
		&::before {
			content: "•";
			margin-right: 0.75rem;
		}
	}
}

.category {
	&:not(:first-child) {
		&::before {
			content: ", ";
		}
	}
}

.backBtn {
	bottom: calc(100% + 2em);
	color: inherit;
	font-size: 0.875em;
	left: 0;
	position: absolute;
	text-decoration: none;

	@media screen and ( min-width: 680px ) {
		bottom: 0;
		top: 1em;
	}

	&:hover {
		text-decoration: underline;
	}
}

.featuredImage {
	background-color: #28364A;
	border: 0.5em solid;
  margin-bottom: 3em;
  overflow: hidden;
}

.image {
  display: block;
  height: auto;
  width: 100%;
}
