.wrapper {
	display: block;
	height: 0vh;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: height 500ms var(--ease-in-out-circ);
	width: 100vw;

  @media screen and (min-width: 740px) {
    font-size: 1.25rem;
  }
}

.navOpen {
	height: 100vh;
	pointer-events: auto;
}

.toggleButton {
	background: none;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-size: 10vmin;
	line-height: 1;
	padding: 0.5em 1em;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.list {
	background-color: #000;
	background-image: url('/images/menu-bg.png');
	background-position: 1vw 1vh;
	background-repeat: no-repeat;
	background-size: auto 50vh;
	bottom: 0;
	display: block;
	font-size: 11vmin;
	left: 0;
	padding-top: 1em;
	position: absolute;
	right: 0;
	top: 0;

	@media screen and ( min-width: 560px ) {
		font-size: 8vmin;
	}

	@media screen and (orientation: portrait) {
		background-position: calc(42vw * -1) calc(100vh - 80vw);
		background-size: 111vw auto;
		padding-top: 2.5em;
	}
}

.item {
  list-style: none;
	width: max-content;
	margin: 0 auto;

  & a {
		background: none !important;
		color: #FFF;
		display: block;
		font-family: var(--font-heading);
    font-weight: 700;
		letter-spacing: 0.05em;
		padding: 0.3em 0.5em 0.2em 0.5em;
    text-decoration: none;
		transition: all 200ms ease;
		text-transform: uppercase;
		
		/* @media screen and ( max-width: 659px ) {
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		} */

		@nest [data-whatintent="mouse"] &:hover {
			/* background-color: var(--color-pri); */
			color: var(--color-pri);
		}

    @nest [data-whatintent="keyboard"] &:focus {
      outline-offset: -4px;
    }
  }
}

.isActive {
	pointer-events: none;

	&::after,
	&::before {
		color: var(--color-pri);
		content: '\002A';
		display: inline-block;
		font-family: var(--font-heading);
		font-size: 1.4em;
		font-weight: 400;
		line-height: 0.5;
		vertical-align: text-bottom;
	}
}
