.container {
  margin: 0 auto;
  max-width: var(--container-width-lg);
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);
	padding-top: 1em;
}

.nav {
  margin-bottom: 2.5rem;
}

.introText {
  font-size: 1.125em;

  @media screen and (min-width: 768px) {
    font-size: 1.25em;
  }
}

.projects {
  display: grid;
  grid-gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  margin-top: 4rem;
}

.noResults {
  font-size: 1.25em;
  grid-column-end: -1;
  grid-column-start: 1;
  text-align: center;
}
